.root {
    height: calc(var(--vh, 1vh) * 100 - var(--vh_header));
    height: calc(100svh - var(--vh_header));
}

.el {
    position: relative;
}

.el + *::after {
    position: absolute;
    top: calc(calc(-12px / 2) - 2px);
    left: 50%;
    transform: translate(-50%, 50%);
    content: "";
    height: 2px;
    width: 200vw;
    background-color: var(--tertiary_100);
    opacity: .1;
}

@media (min-width: 768px) {
    .grid > *:nth-child(2n):not(:last-child)::after {
        display: none;
    }   
}