.root {
  	min-height: 100px;
}

.root .swiper-slide {
}

.root .swiper-slide img {
}

.button {
	position: absolute;
	top: 50%;
	z-index: 1;
	width: auto;
}

.arrow {
	height: clamp(50px, 6vh, 100px);
	aspect-ratio: 1;
}

.arrow, .arrow path {
	fill: var(--quaternary);
}